
<ol class="breadcrumb">
  <li><%= link_to 'Edit', edit_note_path(@note.id),class: "btn btn-primary btn-lg "  %></li>
  <li><%= link_to 'Back to Course', edit_course_path(@note.course_id),class: "btn btn-primary btn-lg " %></li>

</ol>

<%= markdown(@note.description) %>

<ol class="breadcrumb">
  <li><%= link_to 'Edit', edit_note_path(@note.id),class: "btn btn-primary btn-lg "  %></li>
  <li><%= link_to 'Back to Course', edit_course_path(@note.course_id),class: "btn btn-primary btn-lg " %></li>
</ol>
