<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="jumbotron">
      <% if @results %>
        <h1> <%= pluralize(@results.count, 'Result') %> found</h1>
      <% else %>
        <h1> No Results found</h1>
      <% end %>
    </div>
  </div>
</div>

<% if @results %>
  <%= @results.in_groups_of(3, false) do |group| %>
    <div class="row">
      <% group.each do |course| %>
        <div class="col-lg-4">
          <h3><%= course.name %></h3>
          <p> <%= course.description %> </p>
          <p><%= link_to 'View', edit_course_path(course), class: 'btn btn-primary'%></p>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>