<% columns = "col-xs-12 col-sm-12 col-md-12 col-lg-12" %>

<div class="row" id="home">
  <div class="<%= columns %>">
    <div class="jumbotron">
      <h1><%= @course_found.name %>   </h1>
      <h2><%= @course_found.description %> </h2>
      <p>Teachers: <%= @course_found.teachers %></p>
      <p>Average GPA from last semester: <%= number_with_precision(@course_found.gpa, precision: 2) %></p>
      <p>Grade Distribution from Spring 2014:</p>
      <%= pie_chart(@course_found.grade_distribution, height: '300px') %>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"> <a class="btn btn-lg" href="#Notes" data-toggle="tab">
    <i class="fa fa-paperclip fa-2x pull-left"></i> Notes <br><br> </a>
  </li>
  <li> <a class="btn btn-lg" href="#Links" data-toggle="tab">
    <i class="fa fa-link fa-2x pull-left"></i> Links <br> <br></a>
  </li>
  <li> <a class="btn btn-lg" href="#Comments" data-toggle="tab">
    <i class="fa fa-comments fa-2x pull-left"></i> Comments <br><br> </a>
  </li>
</ul>

<div class="tab-content">
  <div id="Notes" class="tab-pane fade in active">
    <%= render 'courses/note' %>
  </div>
  <div id="Links" class="tab-pane fade in ">
    <%= render 'courses/link_form' %>
  </div>
  <div id="Comments" class="tab-pane fade">
    <%= render 'courses/post_form' %>
  </div>
</div>